# API Keys for data providers
ALPHA_VANTAGE_API_KEY="YOUR_ALPHA_VANTAGE_API_KEY"
POLYGON_API_KEY="YOUR_POLYGON_API_KEY"
NEWS_API_KEY="YOUR_NEWS_API_KEY"
FINNHUB_API_KEY="d30kp4hr01qnmrsev8jgd30kp4hr01qnmrsev8k0"


# Alpha Vantage API Key
ALPHA_VANTAGE_API_KEY=T09VTCUSRTEQGSUF
ALPHA_VANTAGE_API_KEY_1=YZGJRCKE696RPSDP

# Alpha Vantage API Key
ALPHA_VANTAGE_API_KEY_2="QF2UDTNYXC5BFM0S"
ALPHA_VANTAGE_API_KEY_3="J9ZB4E7C0LH13CIZ"
ALPHA_VANTAGE_API_KEY_4="L1PPQMXXWASM5CL6"
ALPHA_VANTAGE_API_KEY_5="Z03AN0Z0VTK9CH2V"

# Other configurations
# e.g., DATABASE_URL="your_database_url"
